* {
	font-family:"Trebuchet MS","sans-serif";
}

/* Rules for CTPS "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}
.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}
.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of rules for CTPS "branding" */

#ui {
	margin-bottom: 10px;
}
#wrapper {
	display: flex;
	flex-flow: row-wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
#map {
	order: 1;	/* flex order within wrapper div */
	height:600px; 
	width:810px;
	margin-right: 10px;
}
#output_div {
	order:2; /* flex order within wrapper div */
	margin-left: 10px;
	display: flex;
	flex-flow: column-nowrap;
}
#demographics_div {
	order: 1; /* flex order within output_div */
	margin-bottom: 10px;
}
#model_data_div {
	order: 2; /* flex order within output_div */
}
